*{
  font-family: 'Open Sans', sans-serif;
}

.bg{
    background:#212529 !important;

}

tr>th>a{
opacity:0.8;
}


.subhead{
  font-size: 13px;
  color: blue;
  opacity: 0.9;
}

.head{
  font-size: 13px;
  opacity: 0.9;
}

label{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 13px;
  margin: 0px;
}

::placeholder{
  font-size: 14px;
}

input{
  font-size: 8px;
  width: 80%;}

table{
  text-align: center;
}

.footer{

   position:absolute;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
   background:black;
}

.footer a{
    color: white;
}


.link{

	display: inline-block;
	color: #000;
  text-decoration: none;
}

.link:hover{
	text-decoration: none;
	color: #000;
}

/*===================*/
/* PULSE GROW
/*===================*/

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.pulse-grow-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow-on-hover:hover, .pulse-grow-on-hover:focus, .pulse-grow-on-hover:active {
  -webkit-animation-name: pulse-grow-on-hover;
  animation-name: pulse-grow-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

